:root {
  /*
  --background: #ede8b4;
  --light-brown: #a74f0b;
  --brown: #8f4308;
  --dark-brown: #572804;
  --darker-brown: #301603;
  --shadow: rgba(65, 64, 50, 0.2);
*/

  --background: #e9e3a6;
  --light-brown: #c9834e;
  --brown: #b97540;
  --dark-brown: #9b6339;
  --darker-brown: #5a2e0e;
  --shadow: rgba(65, 64, 50, 0.2);

  --shelf-depth: 3vmin;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Kanit", sans-serif;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10vmin 0;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.bookshelf {
  height: 80vmin;
  aspect-ratio: 2/2.5;
  background-color: var(--brown);
  border: var(--darker-brown) 2vmin solid;
  border-radius: 3vmin 3vmin 1vmin 1vmin;
  box-shadow: 4vmin 1vmin var(--shadow),
    inset var(--shelf-depth) 0vmin var(--light-brown),
    inset calc(var(--shelf-depth) * -1) 0vmin var(--light-brown);
  position: relative;
}

.shelf {
  width: 100%;
  position: absolute;
  border-bottom: var(--shelf-depth) solid var(--dark-brown);
  border-left: var(--shelf-depth) solid transparent;
  border-right: var(--shelf-depth) solid transparent;
  box-shadow: 0 1vmin var(--darker-brown);
}

.shelf:nth-child(1) {
  top: calc(25% - var(--shelf-depth));
}

.shelf:nth-child(2) {
  top: calc(50% - var(--shelf-depth));
}

.shelf:nth-child(3) {
  top: calc(75% - var(--shelf-depth));
}

.shelf:nth-child(4) {
  top: calc(100% - var(--shelf-depth));
}

.shelf-flex {
  position: absolute;
  display: flex;
  width: calc(100% + 6vmin);
  left: calc(var(--shelf-depth) * -1);
  bottom: calc((var(--shelf-depth)) * -1);
  align-items: flex-end;
}

.book:nth-child(1) {
  --book-color: #d6d3e0;
  width: 4vmin;
  height: 13vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.5vmin 0 #00000033, inset 0 2vmin var(--book-color),
    inset 0 2.5vmin #4f35aa, inset 0 3vmin var(--book-color),
    inset 0 3.5vmin #4f35aa, inset 0 4vmin var(--book-color),
    inset 0 4.5vmin #4f35aa, inset 0 10vmin var(--book-color),
    inset 0 13vmin #4f35aa;
  margin-left: 0.7vmin;
  margin-bottom: 0.5vmin;
}

.book:nth-child(2) {
  --book-color: #99b141;
  width: 4vmin;
  height: 11vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.5vmin 0 #00000038, inset 0 2.3vmin var(--book-color),
    inset 0 3vmin #647918, inset 0 8.3vmin var(--book-color),
    inset 0 9vmin #647918;
  margin-bottom: 1vmin;
}

.book:nth-child(3) {
  --book-color: #2eb8ad;
  width: 3vmin;
  height: 11vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038, inset 0 2vmin var(--book-color),
    inset 0 3vmin #9fceca, inset 0 3.5vmin var(--book-color),
    inset 0 4.5vmin #9fceca;
  margin-bottom: 0.9vmin;
}

.book:nth-child(4) {
  --book-color: #8027a3;
  width: 2vmin;
  height: 8vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038, inset 0 5vmin var(--book-color),
    inset 0 5.5vmin #e6d8f0, inset 0 6vmin var(--book-color),
    inset 0 6.5vmin #e6d8f0;
  margin-bottom: 0.9vmin;
}

.book:nth-child(5) {
  --book-color: #533388;
  width: 2vmin;
  height: 8vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038;
  margin-bottom: 1.2vmin;
}

.book:nth-child(6) {
  --book-color: #34a777;
  width: 4vmin;
  height: 13vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.5vmin 0 #00000033, inset 0 0.5vmin #e8e6f0,
    inset 0 2vmin var(--book-color), inset 0 2.5vmin #e8e6f0,
    inset 0 3vmin var(--book-color), inset 0 3.5vmin #e8e6f0,
    inset 0 4vmin var(--book-color), inset 0 4.5vmin #e8e6f0,
    inset 0 12.5vmin var(--book-color), inset 0 13vmin #e8e6f0;
  margin-bottom: 0.5vmin;
}

.book-stopper {
  width: 4vmin;
  height: 5vmin;
  margin-bottom: 1.2vmin;
  border-bottom: 1vmin rgb(216, 130, 32) solid;
  border-left: 1vmin rgb(212, 123, 22) solid;
  box-shadow: 0 0.5vmin rgb(117, 74, 25);
}

.plant-pot {
  margin-left: 3vmin;
  margin-bottom: 0.6vmin;
  width: 13vmin;
  height: 5vmin;
  background-color: rgb(177, 48, 25);
  box-shadow: inset 3vmin 0 rgb(165, 45, 24);
  position: relative;
}

.plant-pot::before {
  position: absolute;
  z-index: 5;
  content: "";
  left: -2.5%;
  top: -0.5vmin;
  width: 105%;
  height: 2vmin;
  background-color: rgb(126, 36, 21);
}

.plant-pot::after {
  content: "";
  position: absolute;
  top: -1.15vmin;
  left: 0;
  height: 2vmin;
  width: 100%;
  z-index: 4;
  background-color: rgb(177, 101, 14);
  --mask: radial-gradient(0.7vmin at 50% 0.99vmin, #000 99%, #0000 101%)
      calc(50% - 1.02vmin) 0/2.04vmin 100%,
    radial-gradient(0.7vmin at 50% -0.48vmin, #0000 99%, #000 101%) 50% 0.51vmin/2.04vmin
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.leaf {
  width: 5vmin;
  height: 5vmin;
  background-color: rgb(9, 187, 9);
  position: absolute;
  border-radius: 0 4vmin;
  box-shadow: inset 1vmin 1vmin rgb(2, 177, 2), inset 2vmin 2vmin rgb(3, 107, 8);
  border-left: rgb(0, 73, 0) 0.4vmin solid;
}

.leaf:nth-child(1) {
  left: -1vmin;
  top: -4vmin;
  z-index: 1;
}

.leaf:nth-child(2) {
  left: 1vmin;
  top: -4.5vmin;
  z-index: 2;
  rotate: 30deg;
  scale: 0.9;
}

.leaf:nth-child(3) {
  left: 3.5vmin;
  top: -4.7vmin;
  z-index: 1;
  rotate: 40deg;
  z-index: 1;
}

.leaf:nth-child(4) {
  left: 6vmin;
  top: -4vmin;
  z-index: 3;
  rotate: 55deg;
  scale: 0.85;
}

.leaf:nth-child(5) {
  left: 9vmin;
  top: -4.5vmin;
  z-index: 1;
  rotate: 80deg;
  z-index: 1;
}

.book-stack {
  display: flex;
  transform: rotate(-90deg);
  margin-bottom: -2vmin;
  margin-left: 7.5vmin;
}

.book-stack .book:nth-child(1) {
  --book-color: #2eb8ad;
  width: 3vmin;
  height: 11vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038, inset 0 2vmin var(--book-color),
    inset 0 3vmin #9fceca, inset 0 3.5vmin var(--book-color),
    inset 0 4.5vmin #9fceca;
}

.book-stack .book:nth-child(2) {
  --book-color: #8027a3;
  width: 2vmin;
  height: 8vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038, inset 0 5vmin var(--book-color),
    inset 0 5.5vmin #e6d8f0, inset 0 6vmin var(--book-color),
    inset 0 6.5vmin #e6d8f0;
  margin-top: 2vmin;
}

.book-stack .book:nth-child(3) {
  --book-color: #533388;
  width: 2vmin;
  height: 8vmin;
  background-color: var(--book-color);
  box-shadow: inset 1.2vmin 0 #00000038;
  margin-top: 1vmin;
}

.box:nth-child(1) {
  height: 15vmin;
  width: 20vmin;
  background-color: rgb(161, 110, 76);
  margin-left: 1.5vmin;
  margin-bottom: 0.5vmin;
  border: rgb(133, 89, 61) 0.5vmin solid;
  box-shadow: inset 3vmin 0 rgb(151, 104, 72);
  position: relative;
}

.box:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 4vmin;
  height: 3vmin;
  background-color: wheat;
  top: 0vmin;
  left: 6vmin;
}

.box:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 4vmin;
  height: 3vmin;
  background-color: rgb(51, 51, 51);
  bottom: 1vmin;
  right: 1vmin;
}

.box:nth-child(2) {
  --border-color: rgb(51, 28, 6);
  --chest-color: rgb(92, 51, 12);
  --chest-color-dark: rgb(66, 36, 8);
  height: 14vmin;
  width: 23vmin;
  border-radius: 1.5vmin 1.5vmin 0 0;
  background-color: var(--chest-color);
  margin-left: 4.5vmin;
  margin-bottom: 1.25vmin;
  border: var(--border-color) 0.5vmin solid;
  box-shadow: inset 3vmin 0 rgba(0, 0, 0, 0.151),
    inset 0 -1.5vmin var(--chest-color), inset 0 -3vmin var(--chest-color-dark),
    inset 0 -4.5vmin var(--chest-color), inset 0 -6vmin var(--chest-color-dark),
    inset 0 -7.5vmin var(--chest-color), inset 0 -9vmin var(--chest-color-dark),
    inset 0 -9.5vmin var(--border-color), inset 0 -14vmin var(--chest-color);
  position: relative;
}

.box:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 2vmin;
  height: 2.7vmin;
  background-color: black;
  border: 0.9vmin rgb(218, 166, 25) solid;
  top: 3vmin;
  left: 10.5vmin;
  border-radius: 0.5vmin 0.5vmin 50% 50%;
}

.potion-parent {
  position: relative;
  z-index: 1;
}

.potion {
  height: 9vmin;
  width: 2vmin;
  background-color: rgba(182, 182, 182, 0.15);
  border-radius: 0 0 1vmin 1vmin;
  border: 0.4vmin rgba(182, 182, 182, 0.5) solid;
  box-shadow: inset 0.5vmin 0 rgba(95, 95, 95, 0.356);
  position: relative;
}

.potion::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 0 0 1vmin 1vmin;
  background-color: rgb(255, 0, 0);
  z-index: -1;
}

.potion::after {
  content: "";
  position: absolute;
  top: -1vmin;
  left: 0;
  height: 1.75vmin;
  width: 100%;
  background-color: rgb(133, 68, 25);
  box-shadow: inset 0.5vmin 0 rgb(87, 44, 16);
  z-index: -1;
  transform: perspective(0.1vmin) rotateX(-1deg);
}

.potion-parent:nth-child(odd) {
  z-index: 2;
}

.potion-parent:nth-child(1) .potion {
  margin-left: 4vmin;
  margin-bottom: 3.5vmin;
}

.potion-parent:nth-child(1) .potion::before {
  background-color: rgb(255, 0, 0);
  top: 3vmin;
  height: 5.4vmin;
}

.potion-parent:nth-child(2) .potion {
  margin-left: -0.8vmin;
  margin-bottom: 4vmin;
}

.potion-parent:nth-child(2) .potion::before {
  background-color: rgba(59, 206, 243, 0.842);
  top: 0.5vmin;
  height: 8vmin;
}

.potion-parent:nth-child(3) .potion {
  margin-left: 2vmin;
  margin-bottom: 3.5vmin;
}

.potion-parent:nth-child(3) .potion::before {
  background-color: rgba(40, 255, 57, 0.842);
  top: 2vmin;
  height: 6.5vmin;
}

.potion-parent:nth-child(4) .potion {
  margin-left: -0.8vmin;
  margin-bottom: 4vmin;
}

.potion-parent:nth-child(4) .potion::before {
  background-color: rgba(202, 0, 0, 0.842);
  top: 1.5vmin;
  height: 7vmin;
}

.potion-stand {
  background-color: rgb(104, 51, 1);
  height: 1.5vmin;
  width: 6vmin;
  margin-bottom: 1vmin;
  margin-left: -7vmin;
  border-bottom: 0.5vmin rgb(49, 24, 4) solid;
  position: relative;
  z-index: 1;
}

.potion-stand::before {
  content: "";
  position: absolute;
  top: -8vmin;
  left: 2.5vmin;
  height: 8vmin;
  width: 1vmin;
  background-color: rgb(104, 51, 1);
  box-shadow: inset 0.4vmin 0 rgb(49, 24, 4);
}

.potion-stand::after {
  content: "";
  position: absolute;
  top: -8.8vmin;
  left: -2vmin;
  height: 0.8vmin;
  width: 10vmin;
  background-color: rgb(104, 51, 1);
  border-bottom: 0.5vmin rgb(49, 24, 4) solid;
}

.potion-large {
  height: 7vmin;
  width: 5vmin;
  background-color: rgba(182, 182, 182, 0.15);
  border-radius: 0 0 1vmin 1vmin;
  border: 0.4vmin rgba(182, 182, 182, 0.5) solid;
  box-shadow: inset 0.5vmin 0 rgba(95, 95, 95, 0.356);
  position: relative;
}

.potion-large::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5vmin;
  border-radius: 0 0 1vmin 1vmin;
  z-index: -1;
  background: rgba(136, 96, 208, 1);
  box-shadow: inset 0 1vmin #98a6e6;
  top: 1.52vmin;
}

.potion-large::after {
  content: "";
  position: absolute;
  top: -1vmin;
  left: -15%;
  height: 1.75vmin;
  width: 130%;
  background-color: rgb(133, 68, 25);
  box-shadow: inset 1vmin 0 rgb(87, 44, 16);
  z-index: 2;
  border-radius: 0.7vmin;
}

.bubble {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  height: 1vmin;
  border-radius: 50%;
  aspect-ratio: 1;
}

.bubble:nth-child(1) {
  margin-top: 3.5vmin;
  margin-left: 1vmin;
}

.bubble:nth-child(2) {
  margin-left: 2vmin;
  height: 1.5vmin;
}

.bubble:nth-child(3) {
  margin-top: -3.5vmin;
  margin-left: 3vmin;
}

.potion-large-second::before {
  background: rgb(25, 125, 192);
  box-shadow: inset 0 0.5vmin #c8cbd6;
  top: 1.52vmin;
  height: 5.4vmin;
  top: 1vmin;
}

.potion-parent:nth-child(6) .potion-large {
  margin-bottom: 0.6vmin;
  margin-left: 3vmin;
}

.bubble-2:nth-child(1) {
  margin-top: 2vmin;
  margin-left: 2.5vmin;
}

.bubble-2:nth-child(2) {
  margin-left: 0.5vmin;
}

.bubble-2:nth-child(3) {
  margin-top: 0;
  margin-left: 2.2vmin;
}

.potion-parent:nth-child(7) .potion-large {
  margin-bottom: 1.5vmin;
  margin-left: 1vmin;
}

.plant-pot-2 {
  width: 5vmin;
  height: 4vmin;
  box-shadow: inset 1.5vmin 0 rgb(165, 45, 24);
}

.cactus {
  height: 6vmin;
  width: 4vmin;
  background-color: rgb(0, 145, 0);
  position: absolute;
  top: -5vmin;
  left: 0.5vmin;
  border-radius: 47%;
  box-shadow: inset 0.3vmin 0 rgb(0, 110, 0), inset 0 0.45vmin rgb(0, 145, 0),
    inset 1vmin 0 rgb(0, 145, 0), inset 1.3vmin 0 rgb(0, 110, 0),
    inset -1vmin 0 rgb(0, 145, 0), inset -1.3vmin 0 rgb(0, 110, 0);
}

.cactus::before {
  content: "";
  height: 3vmin;
  width: 2.5vmin;
  position: absolute;
  background-color: rgb(0, 119, 0);
  box-shadow: inset 0.3vmin 0 rgb(0, 97, 0);
  top: 2.5vmin;
  left: 1.7vmin;
  border-radius: 50%;
}
/*
.spike {
  height: 0.3vmin;
  width: 0.3vmin;
  background-color: white;
  margin-top: 1vmin;
  margin-left: 1vmin;
  border-radius: 50%;
}
*/
.spike {
  width: 0;
  height: 0;
  border-top:  0.25vmin solid transparent;
  border-left:  0.8vmin solid rgb(1, 34, 0);
  border-bottom:  0.25vmin solid transparent;
  position: absolute;
}

.spike:nth-child(1) {
  top: 1vmin;
  left: 0vmin;
  transform: rotate(220deg);
}

.spike:nth-child(2) {
  top: 1vmin;
  left: 3.5vmin;
  transform: rotate(-20deg);
}

.spike:nth-child(3) {
  top: 0.5vmin;
  left: 2.5vmin;
  transform: rotate(-35deg);
  border-left:  0.6vmin solid rgb(1, 34, 0);
}

.spike:nth-child(4) {
  top: 3vmin;
  left: -0.5vmin;
  transform: rotate(205deg);
}

.spike:nth-child(5) {
  top: 2vmin;
  left: 1vmin;
  transform: rotate(205deg);
  border-left:  0.6vmin solid rgb(1, 34, 0);
}

.spike:nth-child(6) {
  top: 3vmin;
  left: 1.75vmin;
  transform: rotate(205deg);
  border-left:  0.6vmin solid rgb(1, 34, 0);
}

.spike:nth-child(7) {
  top: 2.75vmin;
  left: 3.5vmin;
  transform: rotate(-20deg);
  border-left:  0.6vmin solid rgb(1, 34, 0);
}